<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Lbs Demo</title>
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">
<style>
    #myCanvas{ width: 1500px; height: 800px; }
    #floor3 { width: 1450px; height: 750px; position: absolute; overflow: hidden; border: 2px solid #b94a48; }
    #svg_map{
        width: 1450px;
        height: 750px;
        position:absolute;
        overflow:hidden;
    }
    #svg_path{
        width: 1450px;
        height: 750px;
        position:absolute;
    }
</style>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script>
<script>

var margin = 0;
var real_loc_to_pix = 0.0891;
var map_w = 3477;       /// px
var map_h = 1769;
var zoom = {{ zoom_rule }};          /// 地图缩放级别
var x = {{ x }};
var y = {{ y }};
var hz_is_navigating = false;      /// 是否曾经设置过导航，或正在导航中
var HZ_DESTINATION_MEETING_ROOM = 27;
var hz_destination = HZ_DESTINATION_MEETING_ROOM;            /// 导航的目的地，默认 第一个 目的地
var hz_time_id = 0;
var hz_user_id = 0;

var storage = window.localStorage;
if(storage){
    //storage.clear();
    ///alert("浏览支持localStorage");
    var _userId = storage['hz_user_id'];
    if(typeof _userId !== 'undefined') {
        hz_user_id = _userId;
    }
    var hz_zoom = storage['hz_zoom'];
    ///alert(hz_zoom);
    if(typeof hz_zoom !== 'undefined') {    /// 存在值
        zoom = hz_zoom;
    }else {
        storage['hz_zoom'] = zoom;
    }
    _dest = parseInt(storage['hz_destination']);
    isNaN(_dest) ? hz_destination = HZ_DESTINATION_MEETING_ROOM : hz_destination = _dest;

    ///alert(storage['hz_is_navigating'] + "  " + Boolean(storage['hz_is_navigating']));
    hz_is_navigating = Boolean(storage['hz_is_navigating']);
}else{
    ///alert("浏览暂不支持localStorage");
}

/// 18, 44 是定位图标的 针尖 位置。显示图片时，是以图片左上角为参考坐标。故需要对坐标进行偏移。
var x_people = real_loc_to_pix * x *zoom + margin - 18;
var y_people = real_loc_to_pix * y * zoom + margin - 44;

$(document).ready(function(){
    $("#go").click(function(){
        //hz_people_goto(real_loc_to_pix * x *zoom + margin, real_loc_to_pix * y * zoom + margin);

        $("#go").attr("disabled", true);
        $("#loc").attr("disabled", true);
        $("#userId").attr("disabled", true);
        // 未做错误处理。后续需要改正
        //var location = $('#loc').val();
        //hz_destination = location;
        //storage['hz_destination'] = location;
        $.post("/go", {"location": hz_destination}, function(data, status){
            var pt_path = [];
            var i = 0;
            x = data.x;
            y = data.y;

            hz_people_goto(real_loc_to_pix * x *zoom + margin, real_loc_to_pix * y * zoom + margin);

            pt_path[i] = [real_loc_to_pix * x * zoom, real_loc_to_pix * y * zoom];
            var json = eval(data.path); // 数组
            $.each(json, function (index, item) {
                // 循环获取数据
                i++;
                pt_path[i] = [parseInt((json[index].x+44/2-2) * zoom), parseInt((json[index].y+44/2-2) * zoom)];
            });
            var svg = $('#svg_path').svg('get');
            svg.clear();
            svg.polyline(pt_path, {fill: 'none', stroke: 'blue', strokeWidth: 4});

            storage['hz_is_navigating'] = true;
            hz_is_navigating = true;
        });
     });

    $("#stop").click(function () {
        hz_clear_path();
        storage.removeItem('hz_is_navigating');
        hz_is_navigating = false;
        $("#go").attr("disabled", false);
        $("#loc").attr("disabled", false);
        $("#userId").attr("disabled", false);
    });

    $("#zoomOut").click(function () {
        zoom = parseFloat(zoom) + 0.05;
        storage['hz_zoom'] = zoom;
        hz_map_zoom(margin, margin, map_h * zoom, map_w * zoom);
        hz_people_goto(x * real_loc_to_pix * zoom - margin,
                y * real_loc_to_pix * zoom, margin - margin);
        if (hz_is_navigating) {
            hz_clear_path();
            $("#go").click();
        }

        var svg = $('#svg_map').svg('get');
        svg.clear();
        drawInitial(svg);
    });

    $("#zoomIn").click(function () {
        zoom = parseFloat(zoom) - 0.05;
        storage['hz_zoom'] = zoom;
        hz_map_zoom(margin, margin, map_h * zoom, map_w * zoom);
        hz_people_goto(x * real_loc_to_pix * zoom - margin,
                y * real_loc_to_pix * zoom, margin - margin);
        if (hz_is_navigating) {
            hz_clear_path();
            $("#go").click();
        }

        var svg = $('#svg_map').svg('get');
        svg.clear();
        drawInitial(svg);
    });

    $(".btnGetLocation").click(function(){
        //$.post("/get_location", {"userId": ["1918E00103AA", "1918E00103A9"]}, function(data, status){
        $.post("/get_location", {"userId": "1918E00103AA"}, function(data, status){
            var json = eval(data); // 数组
            $.each(json, function (index, item) {
                if (json[index]['userId'] == hz_user_id) {
                    x = json[index]['x'];
                    y = json[index]['y'];
                }

                hz_people_goto(real_loc_to_pix * json[index]['x'] * zoom + margin,
                        real_loc_to_pix * json[index]['y'] * zoom + margin,
                        json[index]['userId']);
            });
        });
    });

    /// 调整地图大小
    hz_map_zoom(margin, margin, map_h * zoom, map_w * zoom);

    $("#1918E00103AA").animate({
        left:x_people,
        top:y_people
    }).stop(true, true);


    $("#loc").val(parseInt(hz_destination));
    $("#go").attr("disabled", hz_user_id == '0');
    $("#loc").attr("disabled", hz_user_id == '0');

});

function hz_map_zoom(left, top, height, width, isAnimate) {
    isAnimate = isAnimate || true;     // 默认参数为true，执行动画
    $("#map").stop(true, true).animate({
        left:left,
        top:top,
        height:height,
        width:width
    });
    if (!isAnimate) {
        $('#map').stop(true, true);
   }
}

function hz_people_goto(x, y, people) {
    /// 18, 44 是定位图标的 针尖 位置。显示图片时，是以图片左上角为参考坐标。故需要对坐标进行偏移。
    people = people || '1918E00103AA';      // 设置默认参数
    $("#"+people).animate({
        left: (x - 18),
        top: (y - 44)
    });
}

function hz_clear_path() {
    $('#svg_path').svg('get').clear();
}

function imageDemo(svg, x, y) {
    //var img = svg.image(x, y, 41, 51, '/static/img/people.jpg');
    //svg.title(img, '1918E00103AA');
    //var link = svg.link('http://www.qq.com');
}

$(function() {
	$('#svg_map').svg({onLoad: drawInitial});
    $('#svg_path').svg({onLoad: drawIniPath()});
});

function drawIniPath() {
}

function drawInitial(svg) {
    imageDemo(svg, x_people, y_people);
    var x_meeting_room = 1420;
    var y_meeting_room = 3000;

    svg.text(parseInt(x_meeting_room*real_loc_to_pix*zoom), parseInt(y_meeting_room*real_loc_to_pix*zoom), '会议室');
    transformDemo(svg);
}

function transformDemo(svg) {
    var x_meeting_room = 1420;
    var y_meeting_room = 4000;

    svg.describe('Example Skew - Show effects of skewX and skewY');
    var str3 = 'translate(' +  parseInt(x_meeting_room*real_loc_to_pix*zoom) + ',' + parseInt(y_meeting_room*real_loc_to_pix*zoom) + ')';
    var g1 = svg.group({transform: str3});
    var g2 = svg.group(g1, {transform: 'skewX(40)'});
    svg.text(g2, 0, 0, '会议室',
        {fontSize: 20, fontFamily: 'Verdana', fill: 'blue'});

    var y_manager1 = 8620;
    var str4 = 'translate(' +  parseInt(x_meeting_room*real_loc_to_pix*zoom) + ',' + parseInt(y_manager1*real_loc_to_pix*zoom) + ')';
    g1 = svg.group({transform: str4});
    g2 = svg.group(g1, {transform: 'skewY(30)'});
    svg.text(g2, 0, 0, '副总办公室1',
        {fontSize: 20, fontFamily: 'Verdana', fill: 'blue'});

    var x_storage = 20000;
    var y_storage = 5000;
    var str1 = 'translate(' +  parseInt(x_storage*real_loc_to_pix*zoom) + ',' + parseInt(y_storage*real_loc_to_pix*zoom) + ')';
    g1 = svg.group({transform: str1});
    svg.text(g1, 0, 0, '仓  库',
        {fontSize: 16, fontFamily: 'Verdana'});

    var str2 = 'translate(' +  parseInt(x_storage*real_loc_to_pix*zoom) + ',' + parseInt((y_storage+3000)*real_loc_to_pix*zoom) + ')';
    g1 = svg.group({transform: str2});
    g2 = svg.group(g1, {transform: 'rotate(-45)'});
    svg.text(g2, 0, 0, '前  台',
        {fontSize: 16, fontFamily: 'Verdana'});
}

var colours = ['purple', 'red', 'orange', 'yellow', 'lime', 'green', 'blue', 'navy', 'black'];

function random(range) {
	return Math.floor(Math.random() * range);
}

function getPos()
{
    if (hz_is_navigating) {
        $("#go").click();
    } else {
        $(".btnGetLocation").click();
    }
}

hz_time_id = window.setInterval("getPos()", 1000);

function selectLocation(str){
    hz_destination = parseInt(str);
    storage['hz_destination'] = hz_destination;
}

function selectUser(str){
    hz_user_id = str;
    storage['hz_user_id'] = hz_user_id;

    $("#go").attr("disabled", hz_user_id == '0');
    $("#loc").attr("disabled", hz_user_id == '0');
}

</script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

</head>
<body>

token = {{ token }}<br>
refreshToken = {{ refreshToken }}<br>
userId = {{ mac }}<br>
x = {{ x }}<br>
y= {{ y }}

<button class="btnGetLocation" style="background-color:#666666;display:none">11. send userId to flask</button><br>

<p id="top_panel"><a href="http://www.hezhongsz.com/"><img src="/static/img/hzlogo.png"></a>Floor3平面图

<div id="txtHint">
    <select id="userId" onchange="selectUser(this.value)" style="font-family:Verdana, Arial, Helvetica, sans-serif;">
        <option value="0">请选择用户开启导航</option>
        <option value="1">1918E00103AA</option>
        <option value="1">1918E00103A9</option>
    </select>
    导航到
    <select id="loc" class="loc" name="locations" onchange="selectLocation(this.value)" style="font-family:Verdana, Arial, Helvetica, sans-serif;">
        <option value="27">Room 1 测试区</option>
        <option value="29">Room 2</option>
        <option value="30">Room 3</option>
        <option value="31">Room 4 健身房</option>
        <option value="32">Room 5</option>
        <option value="33">Room 6</option>
        <option value="34">Room 7 演示厅</option>
        <option value="23">会议室</option>
        <option value="28">总裁办公室</option>
        <option value="24">副总办公室1</option>
        <option value="25">副总办公室2</option>
        <option value="26">仓库</option>
    </select>
    <button class="navigation" id="go">开始导航</button>
    <button id="stop">结束导航</button>
    <button id="myPosition" style="visibility:hidden">占位</button>地图：
    <button id="zoomOut">放大</button>
    <button id="zoomIn">缩小</button>
</div>
</p>

<div id="myCanvas">
    <div id="floor3">
        <img src="/static/img/floor3.svg" width="1043.1" height="530.7" style="position:absolute" id="map" >
        <div id="svg_map">
            <div id="svg_path"></div>
            <img src="/static/img/people.jpg" style="position:absolute" id="1918E00103AA" title="1918E00103AA">
            <img src="/static/img/people.jpg" style="position:absolute" id="1918E00103A9" title="1918E00103A9">
        </div>
    </div>
</div>

</body>
</html>
