<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lbs Demo</title>
    <script src="/static/js/jquery.min.js">
    </script>
<script>

$(document).ready(function(){
    $(".btn11").click(function(){
        //var firstname = $("#firstname").val();
        //var lastname = $("#lastname").val();

        $.post("/name", {"firstname": "aaa", 'lastname': "bbb"}, function(data, status){
			//alert("name: " + data.x + "  age:" + data.y);
			var c=document.getElementById("myCanvas");

            var ctx=c.getContext("2d");
            var img=new Image();
            img.src="/static/img/floor3.jpg";
            ctx.drawImage(img, 5, 5, 3477 * {{ zoom_rule }}, 1769 * {{ zoom_rule }});

            var img_people=new Image();
            img_people.src="/static/img/people.jpg";
            var real_loc_to_pix = 0.0821;
            ctx.drawImage(img_people, 5+ data.x*{{zoom_rule}}*real_loc_to_pix, 5+data.y*{{zoom_rule}}*real_loc_to_pix );
            $("#coordinate").text("(x,y):(" + data.x + "," + data.y + ")" );
        });
    });

    var c=document.getElementById("myCanvas");
    var ctx=c.getContext("2d");
    var img=new Image();
    img.src="/static/img/floor3.jpg";
    img.onload = function()
    {
        ctx.drawImage(img, 5, 5, 3477 * {{ zoom_rule }}, 1769 * {{ zoom_rule }});
    }

    var img_people=new Image();
    img_people.src="/static/img/people.jpg";
    var real_loc_to_pix = 0.0821;
    img_people.onload = function()
    {
        ctx.drawImage(img_people, 5+{{ x*zoom_rule}}*real_loc_to_pix, 5+{{ y*zoom_rule }}*real_loc_to_pix );
    }

});


</script>

</head>
<body>

<button class="btn11">11. send name to flask</button><p id="coordinate">坐标</p><br>
<p><a href="http://www.hezhongsz.com/"><img src="static/img/hzlogo.png"></a> ---Floor3平面图:---</p>
<canvas id="myCanvas" width="1500" height="800" style="border:1px solid #d3d3d3;">
您的浏览器不支持 HTML5 canvas 标签。
</canvas>

</body>
</html>