<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lbs Demo</title>
    <script src="/static/js/jquery.min.js"></script>

    <script>

    $(document).ready(function(){
        var map_width_px = 3477 * {{ zoom_rule }};
        var map_height_px = 1769 * {{ zoom_rule }};
        //var real_loc_to_pix = 0.0821;
        var real_loc_to_pix = 0.0891;
        var margin = 0

        $(".btn11").click(function(){
            $.post("/name", {"userId": "1918E00103AA"}, function(data, status){

                $("#coordinate").text("(x,y):(" + data.x + "," + data.y + ")" );

                $("#map").animate({
                    left:margin ,
                    top:margin,
                    height:map_height_px,
                    width:map_width_px
                 })

                $("#people").show();
                // 18, 44 是定位图标的 针尖 位置
                $("#people").animate({
                    left:real_loc_to_pix * data.x * {{ zoom_rule }} + margin - 18,
                    top:real_loc_to_pix * data.y * {{ zoom_rule }} + margin - 44
                 })
            });
        });

        $("#go").click(function(){
            var loc = $('#loc').val();
            //var loc_text = $('#loc option:selected').val();  //firefox 效果还是取option的值。chrome可以取到真实文本
            //alert("go " + loc + "  text:" + loc_text)

            // 未做错误处理。后续需要改正
            $.post("/go", {"location": loc}, function(data, status){
                var pt_prv, x_prv ,y_prv, i = 0;
                var json = eval(data); // 数组
                $.each(json, function (index, item) {
                    // 循环获取数据
                    var pt_name = json[index].pt_name;
                    var x = json[index].x;
                    var y = json[index].y;
                    //alert(pt_name + ": " + x + "," + y);

                    //<img src="/static/img/road.svg" width="1043.1" height="530.7" style="position:absolute" id="road1">
                    var pic = '<img src="/static/img/people_bak.jpg" width="';
                    //alert(pic);
                    if (i != 0) {   // draw path from pt_prv to pt_name
                        //alert(i);
                        if (x_prv - x < 5) {    // 近视认为 x坐标相等，则画竖线
                            //alert("x_prv - x < 5");
                            //alert (Math.abs(1-100));
                            pic+= 8 + '" height="' + Math.abs(y-y_prv) + '" style="position:absolute" id="road' + i + '">';
                        }else{  // 画 横向， 斜线先不考虑。后续需要改进。
                            //alert("not   x_prv - x < 5");
                            pic+= Math.abs(x - prv_x) + '" height="8" style="position:absolute" id="road' + i + '">';
                        }
                        //alert(pic);
                        $("#path").append(pic);
                        //alert("ok");
                     }
                     i+= 1;
                     pt_prv = pt_name; x_prv = x; y_prv = y;
                });
            });
        });

    });


    function getPos()
    {
        $(".btn11").click();
    }

    var t2 = window.setInterval("getPos()", 2000);

    </script>

</head>
<body>

token = {{ token }}<br>
refreshToken = {{ refreshToken }}<br>
userId = {{ mac }}<br>
x = {{ x }}<br>
y= {{ y }}

<button class="btn11" style="background-color:#666666;display:none">11. send name to flask</button><p id="coordinate">坐标</p><br>

<p id="top_panel"><a href="http://www.hezhongsz.com/"><img src="static/img/hzlogo.png"></a> ---Floor3平面图:---

<div id="txtHint">导航到
    <select id="loc" class="loc" name="locations"  style="font-family:Verdana, Arial, Helvetica, sans-serif;">
        <option value="13">Room 1 测试区</option>
        <option value="14">Room 2</option>
        <option value="15">Room 3</option>
        <option value="16">Room 4 健身房</option>
        <option value="17">Room 5</option>
        <option value="18">Room 6</option>
        <option value="20">Room 7 演示厅</option>
        <option value="0">会议室</option>
        <option value="10">总裁办公室</option>
        <option value="1">副总办公室1</option>
        <option value="9">副总办公室2</option>
        <option value="8">仓库</option>
    </select>
    <button class="navigation" id="go">开始导航</button>
</div>
</p>
<div id="myCanvas" width="1500" height="800" style="border:1px solid #d3d3d3;">
    <div id="floor3" width="1450" height="750" style="background:#98bf21;position:absolute">
        <!--<img src="/static/img/floor3.jpg" width="1043.1" height="530.7" style="position:absolute" id="map_background" >  -->
        <img src="/static/img/floor3.svg" width="1043.1" height="530.7" style="position:absolute" id="map" >
        <div id="path" width="1450" height="750" style="position:absolute">
            <img src="/static/img/road.svg" width="300" height="200" style="position:absolute" id="road1">
        </div>
        <img src="/static/img/people.jpg" style="position:absolute" id="people">
    </div>
</div>

</body>
</html>