<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Lbs Demo</title>
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">
<style>
#svg_map{ width: 1450px; height: 750px; border: 1px solid #484; position:absolute}
#svg_path{ width: 1450px; height: 750px; position:absolute}
</style>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script>
<script>

var margin = 0;
var real_loc_to_pix = 0.0891;
// 18, 44 是定位图标的 针尖 位置。显示图片时，是以图片左上角为参考坐标。故需要对坐标进行偏移。
var x_people = real_loc_to_pix*{{x*zoom_rule }} + margin - 18;
var y_people = real_loc_to_pix *{{ y*zoom_rule }} + margin - 44;
var map_width_px = 3477 * {{ zoom_rule }};
var map_height_px = 1769 * {{ zoom_rule }};

$(document).ready(function(){
    $("#go").click(function(){
        $("#people").animate({
            left:x_people,
            top:y_people
        });

        // 未做错误处理。后续需要改正
        var loc = $('#loc').val();
        $.post("/go", {"location": loc}, function(data, status){
            var pt_path = [];
            var i = 0;
            pt_path[i] = [real_loc_to_pix * {{ x*zoom_rule }}, real_loc_to_pix * {{ y*zoom_rule }}];
            var json = eval(data); // 数组
            $.each(json, function (index, item) {
                // 循环获取数据
                i++;
                pt_path[i] = [parseInt((json[index].x+44/2-2)*{{ zoom_rule }}), parseInt((json[index].y+44/2-2)*{{ zoom_rule }})];

            });
            var svg = $('#svg_path').svg('get');
            svg.clear();
            //drawInitial(svg);
            svg.polyline(pt_path, {fill: 'none', stroke: 'blue', strokeWidth: 4});

        });
     });

    $("#stop").click(function () {
        var svg = $('#svg_path').svg('get');
        svg.clear();
    });

    $("#zoomOut").click(function () {

    });

    $(".btn11").click(function(){
        $.post("/name", {"userId": "1918E00103AA"}, function(data, status){

            $("#coordinate").text("(x,y):(" + data.x + "," + data.y + ")" );

            $("#map").animate({
                left:margin,
                top:margin,
                height:map_height_px,
                width:map_width_px
            });

            // 18, 44 是定位图标的 针尖 位置
            $("#people").animate({
                left: (real_loc_to_pix * data.x * {{ zoom_rule }} + margin - 18),
                top: (real_loc_to_pix * data.y * {{ zoom_rule }} + margin - 44)
            });
        });
    });

    $("#people").hide();
    $("#people").animate({
        left:x_people,
        top:y_people
    }, 10, function() { $("#people").show(); });

});

function imageDemo(svg, x, y) {
    //svg.describe('This graphic links to an external image');
    //var img = svg.image(x, y, 41, 51, '/static/img/people.jpg');
    //svg.title(img, '1918E00103AA');
    //var link = svg.link('http://www.w3.org/TR/SVG11/');
}

$(function() {
	$('#svg_map').svg({onLoad: drawInitial});
    $('#svg_path').svg({onLoad: drawIniPath()});
});

function drawIniPath() {

}

function drawInitial(svg) {

    imageDemo(svg, x_people, y_people);
    svg.text(52, 76, '会议室');

    transformDemo(svg);
}

function transformDemo(svg) {
    svg.describe('Example Skew - Show effects of skewX and skewY');
    var g1 = svg.group({transform: 'translate(70,120)'});
    var g2 = svg.group(g1, {transform: 'skewX(40)'});
    svg.text(g2, 0, 0, '会议室',
        {fontSize: 20, fontFamily: 'Verdana', fill: 'blue'});

    g1 = svg.group({transform: 'translate(40,220)'});
    g2 = svg.group(g1, {transform: 'skewY(30)'});
    svg.text(g2, 0, 0, '副总办公室1',
        {fontSize: 20, fontFamily: 'Verdana', fill: 'blue'});

    g1 = svg.group({transform: 'translate(520,130)'});
    g2 = svg.group(g1, {fill: 'none', stroke: 'red', strokeWidth: 3});
    svg.text(g1, 0, 0, '仓  库',
        {fontSize: 16, fontFamily: 'Verdana'});

    g1 = svg.group({transform: 'translate(520,220)'});
    g2 = svg.group(g1, {transform: 'rotate(-45)'});
    svg.text(g2, 0, 0, '前  台',
        {fontSize: 16, fontFamily: 'Verdana'});

}

var colours = ['purple', 'red', 'orange', 'yellow', 'lime', 'green', 'blue', 'navy', 'black'];


function random(range) {
	return Math.floor(Math.random() * range);
}

function getPos()
{
    $(".btn11").click();
}

var t2 = window.setInterval("getPos()", 2000);

</script>

</head>
<body>
token = {{ token }}<br>
refreshToken = {{ refreshToken }}<br>
userId = {{ mac }}<br>
x = {{ x }}<br>
y= {{ y }}

<button class="btn11" style="background-color:#666666;display:none">11. send name to flask</button><p id="coordinate">坐标</p><br>

<p id="top_panel"><a href="http://www.hezhongsz.com/"><img src="static/img/hzlogo.png"></a>Floor3平面图

<div id="txtHint">导航到
    <select id="loc" class="loc" name="locations"  style="font-family:Verdana, Arial, Helvetica, sans-serif;">
        <option value="27">Room 1 测试区</option>
        <option value="29">Room 2</option>
        <option value="30">Room 3</option>
        <option value="31">Room 4 健身房</option>
        <option value="32">Room 5</option>
        <option value="33">Room 6</option>
        <option value="34">Room 7 演示厅</option>
        <option value="23">会议室</option>
        <option value="28">总裁办公室</option>
        <option value="24">副总办公室1</option>
        <option value="25">副总办公室2</option>
        <option value="26">仓库</option>
    </select>
    <button class="navigation" id="go">开始导航</button>
    <button id="stop">结束导航</button>
    <button id="myPosition" style="visibility:hidden">占位</button>地图：
    <button id="zoomOut">放大</button>
    <button id="zoomIn">缩小</button>
</div>
</p>

<div id="myCanvas" width="1500" height="800" style="border:0px solid #d3d3d3;">
    <div id="floor3" width="1450" height="750" style="background:#98bf21;position:absolute">
        <img src="/static/img/floor3.svg" width="1043.1" height="530.7" style="position:absolute" id="map" >
        <div id="svg_map">
            <div id="svg_path"></div>
            <img src="/static/img/people.jpg" style="position:absolute" id="people" title="1918E00103AA">
        </div>
    </div>
</div>

</body>
</html>
