
<title>Lbs Demo</title>
<script src="static/jquery.min.js"></script>

{% block content %}

token = {{ token }}<br>
refreshToken = {{ refreshToken }}<br>
userId = {{ mac }}<br>
x = {{ x }}<br>
y= {{ y }}

<br>


<p><a href="http://www.hezhongsz.com/"><img src="static/img/hzlogo.png"></a> ---Floor3平面图:---</p>
<canvas id="myCanvas" width="1500" height="800" style="border:1px solid #d3d3d3;">
您的浏览器不支持 HTML5 canvas 标签。
</canvas>

<script>
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
var img=new Image();
img.src="/static/img/floor3.jpg";
img.onload = function()
{
    ctx.drawImage(img, 5, 5, 3477 * {{ zoom_rule }}, 1769 * {{ zoom_rule }});
}

var img_people=new Image();
img_people.src="/static/img/people.jpg";
img_people.onload = function()
{
    var real_loc_to_pix = 0.0821;
    ctx.drawImage(img_people, 5+{{ x*zoom_rule}}*real_loc_to_pix, 5+{{ y*zoom_rule }}*real_loc_to_pix );
}

function loadXMLDoc()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		// IE6, IE5 浏览器执行代码
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
			//得到服务器返回的信息
            //var infor = xmlhttp.responseText;
            //alert("服务器端的响应 = "+infor);

            var c=document.getElementById("myCanvas");
            var ctx=c.getContext("2d");
            var img=new Image();
            img.src="/static/img/floor3.jpg";
            ctx.drawImage(img, 5, 5, 3477 * {{ zoom_rule }}, 1769 * {{ zoom_rule }});

            var img_people=new Image();
            img_people.src="/static/img/people.jpg";
            var real_loc_to_pix = 0.0821;
            ctx.drawImage(img_people, 5+{{ x*zoom_rule}}*real_loc_to_pix, 5+{{ y*zoom_rule }}*real_loc_to_pix );
		}
	}
	xmlhttp.open("GET","/static/ajax/ajax_info.txt",true);
	//xmlhttp.open("GET","/getpos?userId="+{{mac}}, true);
	xmlhttp.send();
}

$(document).ready(function(){
    $(".btn11").click(function(){
        var firstname = $("#firstname").val();
        var lastname = $("#lastname").val();

        $.post("/getpos", {"firstname": firstname, 'lastname': lastname}, function(data, status){
			alert("name: " + data.name + "  age:" + data.age);
        });
    });
}

//var t2 = window.setInterval("loadXMLDoc()",3000);

</script>

<form action="/myform" method='post'>
First name: <input type="text" name="FirstName" value="Mickey" id="firstname"><br>
Last name: <input type="text" name="LastName" value="Mouse" id="lastname"><br>
<input type="submit" value="提交">
</form>
<br/><br/>
<button class="btn11">11. send name to flask</button>

<div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
<button type="button" onclick="loadXMLDoc()">修改内容</button>

{% endblock %}
